


.Total_shape {
    max-width: 100vw;
}

.custom-shape-divider-bottom-1710816317 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1710816317 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 221px;
}

.custom-shape-divider-bottom-1710816317 .shape-fill {
    fill: #FFFFFF;
}


/*  */

.custom-shape-divider-top-1711279555 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top:94vw ;
}

.custom-shape-divider-top-1711279555 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 214px;
}

.custom-shape-divider-top-1711279555 .shape-fill {
    fill: #FFFFFF;
}
